
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
.nav-ul ul{
	display: flex;
	width: 100%;
	height: 10vh;
	margin: auto;
	max-width: 1000vh;
	justify-content: space-evenly;
	text-align: center;
    /* border: solid #000000; */
    background-color: #2C2B2B;
    text-decoration: none;
    position: sticky;
}
.nav-li li {
	padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff9f9;
	min-width: 80px;
	margin: auto;
  list-style: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  position: sticky;
}

.nav-li li :visited {
  text-decoration: none;
  color: inherit
}

.nav-li li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #c52909;
	font-weight: bold;
  text-decoration: none;
}
.nav-li li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}
