.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  margin: 0rem 0rem;
  padding: 1rem;
  list-style-type: none;
  height: 100%;
  overflow-x: unset;
}
