@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/* main{

    background-color: black;
} */

.main-agentinfo{
    position: relative;
}

.back-AgentInfo{
        z-index: -1;
        /* */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 120%;
         width: 120%;
        filter: blur(2px);
        -webkit-filter: blur(2px); 
}

.audio-control-css{
    position: absolute;
    top: 44vh;
    left: 67vh;
}

.audio-control-css h4{
    color: aliceblue;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    margin: 1vh;
}

.agent-title-css{
    display: flex;
    position: absolute;
    top: 20vh;
    left: 67vh;
    
}
.agent-title-css h2{
    color: aliceblue;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

.agent-title-css img{
    padding: 0px;
    max-width: 20%;
    margin-top: -1.5vh;
    margin-left: 2vh;
}

.role-name-css{
    position: absolute;
    top: 28vh;
    left: 67vh;
}

.role-name-css h3{
    color: aliceblue;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
}

.agent-info-para{
    position: absolute;
    top: 37vh;
    left: 67vh;
}

.agent-info-para p{
    color: aliceblue;
    /* font-weight: 100; */
    font-family: 'Quicksand', sans-serif;
}

.agent-img{
    position: absolute;
    top: 15vh;
    left: 20vh;
    
}

.abilities-cards-css{
    position: absolute;
    top: 60vh;
    left: 10vh;
}

.abilities-text-css{
    position: absolute;
    top: 60vh;
    left: 37vh; 
}

.abilities-text-css h2{
    color: aliceblue;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
}