/* .agentinfo-css{
    background : url('https://images8.alphacoders.com/114/1149389.jpg')
    no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
} */